/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    line-height: 1.7;
    font-family: "Roboto", sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  :focus {
    outline-width: 0;
  }

  /* ---------------------------------- */

  .search-box {
      margin-top: 5vh;
  }

  .search-box .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 5vh;
  }
 
  .search-box .container .search-title {
      font-size: 4rem;
      font-weight: 600;
      margin-bottom: 1rem;
  }

  .search-box .container #search {
      width: 90%;
      padding: 1.5rem 30rem;
      text-align: center;
      font-size: 2rem;
      
  }

  .search-box .container .fa-search {
      font-size: 2rem;
      padding: 1.9rem 3rem;
      position: relative;
      right: 5rem;
      background: #007bff;
      border-top-right-radius: .5rem;
      border-bottom-right-radius: .5rem;
      color: white;
  }

  /* --------------------------------------- */

  .gallery .container {
      display: grid;
      max-width: 120rem;
      margin: auto;
      grid-gap: 4rem;
      grid-row-gap: 10rem;
      justify-content: center;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 15vh;
  }

  .gallery .container .album {
      cursor: pointer;
  }

  .gallery .container .album img {
      width: 45rem;
      height: 100%;
      object-fit: cover;
     cursor: pointer;
  }

  .gallery .container .album h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
      text-align: center;
      background: black;
      padding: 1rem;
      color: white;
  }

  /* ------------------------------------------ */

  .modal {
    background-color: rgba(23, 24, 23, 0.384);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }

  .large-album {
    position: absolute;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.3s ease-in-out;
    background: url(/img/1.jpg);
    background-position: center;
    background-size: cover !important;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat !important;
  }

  .large-album .large-album-text {
      background: white;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      justify-content: center;
      align-items: center;

  }

  .large-album .large-album-text h2 {
      font-size: 3rem;
      margin-bottom: 1rem;
  }

  .large-album .large-album-text p {
      font-size: 1.5rem;
      width: 90%;
      text-align: center;
      margin-bottom: 3rem;
  }

  .large-album .large-album-text .learn-more {
      padding: 2rem 3rem;
      margin-bottom: 1rem;
      font-size: 2rem;
      border: none;
      background: #007bff;
      color: white;
      font-weight: 600;
      border-radius: 1rem;
      cursor: pointer;
  }

  /* --------------------------------------- */

 .hidden {
     display: none;
 }

 .enlarge {
    transform: translate(-50%, -50%) scale(1);
  }

  .open {
    opacity: 1;
    pointer-events: all;
  }

  /* ----------------------------------- */

  @media only screen and (max-device-width: 480px) {
    .search-box .container .search-input {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 3rem;
    }
    .search-box .container .search-input #search {
        width: 100%;
        padding: 1.5rem 1rem;
        text-align: center;
        font-size: 2rem;
    }

    #gal .container {
        display: grid;
        max-width: 120rem;
        margin: auto;
        grid-gap: 4rem;
        grid-row-gap: 10rem;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 15vh;
    }
  }